<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>success</title>
</head>
<body>
      <div class="box">
        {% if user_data %}
            <div class="success alert">
                <div class="alert-body">
                    Success!
                </div>
                <p class="points">{{ user_data[0].hub_id }} data is ready!</p>
                <hr>
                <a href="{{ url_for('home') }}" class="home-link">Go to Home Page</a>
            </div>
        {% else %}
            <div class="error alert">
                <div class="alert-body">
                    Error!
                </div>
                <hr>
                <a href="{{ url_for('home') }}" class="home-link">Go to Home Page</a>
            </div>
        {% endif %}
    </div>
</body>
<script>
    window.addEventListener('unload', function(event) {
        navigator.sendBeacon('/terminate');
    });
</script>
</html>
